.div-entries {
    float: left;
    width: 50%;
    clear: both;
    margin-bottom: 10px;
}

.div-results {
    white-space: pre;
    clear: both;
    font-family: monospace;
    margin-bottom: 10px;
}

.button-left {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    clear: both;
}

.text {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.img-big {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 20px;
    width: 20px;
}

.img-small {
    margin-left: 5px;
    height: 10px;
    width: 10px;
}

.readonly {
    pointer-events: none;
}

.waiting * {
    cursor: progress;
}

.hidden {
    display: none;
}

.edit-book {

}
.delete-book {

}