body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    background-color: #f0f0f0;
}

.page-header {
    max-width: 100%;
    margin: 10px 0 10px 0;
    background-color: #403042;
}

.header {
    max-width: 960px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    display: inline;
    list-style-type: none;
    font-size: 24px;
}

.menu-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 32px;
    vertical-align: middle;
}

.img-logo {
    height: 75px;
    width: 225px;
}

.page-content {
    max-width: 960px;
    min-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.content {
    margin: 10px;
}

.entries {
    width: 100%;
    padding: 10px 0 0 0;
}

.entry {
    width: 460px;
}

.text {
    width: 460px;
    height: 40px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: inherit;
}

.button {
    /* Check why when width is 250px, image is on the next line */
    width: 180px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    color: white;
    background-color: #4788c7;
    font-size: 16px;
    border-style: none;
    outline: none;
}

.readonly {
    pointer-events: none;
}

.hidden {
    display: none;
}

.edit-item {
}

.read-item {
}

.delete-item {
}

.messages {
    width: 460px;
}

.message-entry {
    width: 100%;
    padding: 10px 0 10px 0;
    color: red;
}

.message-item {
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
}

.waiting {
    cursor: progress;
}

.results {
    width: 100%;
    /* This was added to avoid the problem of parents of floated elements */
    overflow: auto;
}

.result-book, .result-date-reading-session, .result-single {
    float: left;
    margin: 10px 10px 10px 0px;
}

.result-book {
    width: 140px;
    height: 360px;
}

.result-date-reading-session {
    width: 140px;
    height: 160px;
}

.result-single {
    width: 220px;
}

.result-important {
    font-weight: bold;
    color: #ff0072;
}

.result-detail {
    margin-top: 2px;
}

.title {
    font-weight: bold;
}

.img-icon {
    height: 40px;
    width: 40px;
}

.figure-book {
    margin: 0px;
}

.img-book-small {
    width: 140px;
    height: 174px;
}

.img-book-large {
    width: 220px;
    height: 273px;
}