.entries {
    float: left;
    width: 50%;
    clear: both;
    margin-bottom: 10px;
}

.results {
    white-space: pre;
    clear: both;
    width: 50%;
    font-family: monospace;
    margin-bottom: 10px;
}

.button-left {
    float: left;
    width: 50%;
    margin-bottom: 10px;
    clear: both;
}

.text {
    float: left;
    width: 100%;
    font-family: monospace;
    margin-bottom: 10px;
}

.img-big {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 20px;
    width: 20px;
}

.img-small {
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

.readonly {
    pointer-events: none;
}

.waiting * {
    cursor: progress;
}

.hidden {
    display: none;
}

.edit-book {
}

.read-book {
}

.delete-book {
}

.message {
    font-family: monospace;
    color: red;
    margin-bottom: 10px;
}

.message-book {
    font-family: monospace;
    color: red;
}