<input type="text" id="book-isbn10-text" class="text" placeholder="<%= localizer.localize('add-book_book-isbn10-text') %>"/>
<input type="text" id="book-isbn13-text" class="text" placeholder="<%= localizer.localize('add-book_book-isbn13-text') %>"/>
<input type="text" id="book-title-text" class="text" placeholder="<%= localizer.localize('add-book_book-title-text') %>"/>
<input type="text" id="book-authors-text" class="text" placeholder="<%= localizer.localize('add-book_book-authors-text') %>"/>
<input type="text" id="book-pages-text" class="text" placeholder="<%= localizer.localize('add-book_book-pages-text') %>"/>
<button id="book-add-button" class="button-left"><%= localizer.localize('add-book_book-add-button') %></button>
<a href="#" id="books-search-link"><img src="img/search.png" alt="search book" class="img-big"/></a>