<div class="entry">
  <input type="text" id="book-isbn10-text" class="text" placeholder="<%= localizer.localize('book-isbn10-text') %>"/>
  <input type="text" id="book-isbn13-text" class="text" placeholder="<%= localizer.localize('book-isbn13-text') %>"/>
  <input type="text" id="book-title-text" class="text" placeholder="<%= localizer.localize('book-title-text') %>"/>
  <input type="text" id="book-authors-text" class="text" placeholder="<%= localizer.localize('book-authors-text') %>"/>
  <input type="text" id="book-image-text" class="text" placeholder="<%= localizer.localize('book-image-text') %>"/>
  <input type="text" id="book-pages-text" class="text" placeholder="<%= localizer.localize('book-pages-text') %>"/>
  <button id="book-add-button" class="button"><%= localizer.localize('book-add-button') %></button>
  <a href="#" id="book-cancel-add-link"><img src="/img/cancel.png" alt="cancel edit book" class="img-icon"/></a>
</div>