<input type="date" id="date-reading-session-date-text" class="text" placeholder="<%= localizer.localize('date-reading-session-date-text') %>"/>
<input type="text" id="date-reading-session-last-read-page-text" class="text" placeholder="<%= localizer.localize('date-reading-session-last-read-page-text') %>"/>
<input type="text" id="date-reading-session-bookmark-text" class="text" placeholder="<%= localizer.localize('date-reading-session-bookmark-text') %>"/>
<button id="date-reading-session-add-button" class="button-left"><%= localizer.localize('date-reading-session-add-button') %></button>
