<div class="message-item"></div>
<a href="#" class="edit-item"><img src="/img/edit.png" alt="edit book" class="img-icon"/></a>
<a href="/books/<%= book.uuid %>" class="read-item"><img src="/img/read.png" alt="read book" class="img-icon"/></a>
<a href="#" class="delete-item"><img src="/img/delete.png" alt="delete book" class="img-icon"/></a>
<div class="result-detail">
  <figure class="figure-book">
    <% if(book.image) { %>
    <img src="<%= book.image%>"
         alt="<%= urlUtil.previewUrl(book.image)%>"
         onerror="displayDefaultImage(this, '/img/no-image-available.png');"
         class="img-book-small"/>
    <% } else { %>
    <img src="/img/no-image-available.png"
         alt="<%= urlUtil.previewUrl(book.image)%>"
         class="img-book-small"/>
    <% }  %>
    <figcaption class="title"><%= book.title %></figcaption>
  </figure>
</div>
<div class="result-detail">
  <span class="title"></span>
</div>
<div class="result-detail">
  <%= localizer.localize('book-by-label') %> <%= book.authors %>
</div>
<div class="result-detail">
  <%= book.isbn10 %>
</div>
<div class="result-detail">
  <%= book.isbn13 %>
</div>
