<div id="message-div" class="div-entries"></div>

<div id="book-add-update-div">
  <input type="text" id="book-isbn10-text" class="text" placeholder="ISBN 10"/>
  <input type="text" id="book-isbn13-text" class="text" placeholder="ISBN 13"/>
  <input type="text" id="book-title-text" class="text" placeholder="Title"/>
  <input type="text" id="book-authors-text" class="text" placeholder="Authors"/>
  <input type="text" id="book-pages-text" class="text" placeholder="Number of pages"/>
  <button id="book-add-button" class="button-left">Add book</button>
</div>
<div id="book-search-div">
  <input type="text" id="book-search-text" class="text hidden" placeholder="ISBN / Title / Author"/>
  <button id="book-search-button" class="button-left hidden">Search book</button>
</div>

<div id="books-div" class="div-results"></div>
