<div class="entry">
  <input type="date" id="date-reading-session-date-text" class="text" placeholder="<%= localizer.localize('date-reading-session-date-text') %>" value="<%= dateReadingSession.date %>" readonly/>
  <input type="text" id="date-reading-session-last-read-page-text" class="text" placeholder="<%= localizer.localize('date-reading-session-last-read-page-text') %>" value="<%= dateReadingSession.lastReadPage %>"/>
  <input type="text" id="date-reading-session-bookmark-text" class="text" placeholder="<%= localizer.localize('date-reading-session-bookmark-text') %>" value="<%= dateReadingSession.bookmark %>"/>
  <button id="date-reading-session-update-button" class="button"><%= localizer.localize('date-reading-session-update-button') %></button>
  <a href="#" id="date-reading-session-cancel-edit-link"><img src="/img/cancel.png" alt="cancel edit date reading session" class="img-big"/></a>
</div>