<div id="message-div" class="div-entries"></div>

<input type="text" id="book-isbn10-text" class="text" placeholder="ISBN 10" value="<%= isbn10 %>"/>
<input type="text" id="book-isbn13-text" class="text" placeholder="ISBN 13" value="<%= isbn13 %>"/>
<input type="text" id="book-title-text" class="text" placeholder="Title" value="<%= title %>"/>
<input type="text" id="book-authors-text" class="text" placeholder="Authors" value="<%= authors %>"/>
<input type="text" id="book-pages-text" class="text" placeholder="Number of pages" value="<%= pages %>"/>
<button id="book-update-button" class="button-left">Update book</button>