<input type="date" id="date-reading-session-date-text" class="text" placeholder="<%= localizer.localize('date-reading-session-date-text') %>" value="<%= dateReadingSession.date %>" readonly/>
<input type="text" id="date-reading-session-last-read-page-text" class="text" placeholder="<%= localizer.localize('date-reading-session-last-read-page-text') %>" value="<%= dateReadingSession.lastReadPage %>"/>
<input type="text" id="date-reading-session-bookmark-text" class="text" placeholder="<%= localizer.localize('date-reading-session-bookmark-text') %>" value="<%= dateReadingSession.bookmark %>"/>
<button id="date-reading-session-update-button" class="button-left"><%= localizer.localize('date-reading-session-update-button') %></button>
