<div>
  <figure class="figure-book">
    <% if(book.image) { %>
    <img src="<%= book.image%>"
         alt="<%= urlUtil.previewUrl(book.image)%>"
         class="img-book-large"/>
    <% } else { %>
    <img src="/img/no-image-available.png"
         alt="<%= urlUtil.previewUrl(book.image)%>"
         class="img-book-large"/>
    <% }  %>
    <figcaption class="title"><%= book.title %></figcaption>
  </figure>
</div>
<div>
  <%= localizer.localize('book-by-label') %> <%= book.authors %>
</div>
<div>
  <%= book.pages %> <%= localizer.localize('book-pages-label') %>
</div>
