<div class="result">
  <div>
    <%= localizer.localize('reading-session-progress-status-label') %> <span class="details"><%= readingSessionProgress.readPercentage %>&#37;</span>,
    <span class="details"><%= readingSessionProgress.averagePagesPerDay %></span> <%= localizer.localize('reading-session-progress-average-pages-label') %>
  </div>
  <div>
    <span class="details"><%= readingSessionProgress.pagesTotal - readingSessionProgress.lastReadPage %></span> <%= localizer.localize('reading-session-progress-estimated-pages-left-label') %>
    <span class="details"><%= readingSessionProgress.estimatedReadDaysLeft %></span> <%= localizer.localize('reading-session-progress-estimated-read-days-left-label') %> /
    <span class="details"><%= readingSessionProgress.estimatedDaysLeft %></span> <%= localizer.localize('reading-session-progress-estimated-days-left-label') %>
  </div>
  <div>
    <%= localizer.localize('reading-session-progress-estimated-finish-date-label') %> <span class="details"><%= readingSessionProgress.estimatedFinishDate %></span>
  </div>
</div>