<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="AddBook">
    <div id="add-book-div" class="div-entries">
        <input type="text" id="add-book-isbn10-text" class="text" placeholder="ISBN 10"/>
        <input type="text" id="add-book-isbn13-text" class="text" placeholder="ISBN 13"/>
        <input type="text" id="add-book-title-text" class="text" placeholder="Title"/>
        <input type="text" id="add-book-authors-text" class="text" placeholder="Authors"/>
        <input type="text" id="add-book-pages-text" class="text" placeholder="Number of pages"/>
        <button id="add-book-button" class="button-left">Add book</button>

        <div id="books-div" class="div-results"></div>
    </div>

    <div th:replace="fragments/Book :: Book"></div>
</div>

</body>
</html>
