<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Library application</title>
    <link rel="stylesheet" type="text/css" href="css/library.css"></link>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id="add-book-div" class="div-entries">
    <input type="text" id="add-book-isbn10-text" class="text" placeholder="ISBN 10"/>
    <input type="text" id="add-book-isbn13-text" class="text" placeholder="ISBN 13"/>
    <input type="text" id="add-book-title-text" class="text" placeholder="Title"/>
    <input type="text" id="add-book-authors-text" class="text" placeholder="Authors"/>
    <input type="text" id="add-book-pages-text" class="text" placeholder="Number of pages"/>
    <button id="add-book-button" class="button-left">Add book</button>

    <div id="books-div" class="div-results"></div>
</div>

<div th:replace="fragments/footer :: footer"></div>
<div th:replace="fragments/book :: book"></div>
<script src="js/Library.js"></script>

</body>
</html>
